/*=============== FONTS ===============*/
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../font/sf-pro-display_regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../font/sf-pro-display_semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --text-color: hsl(240, 11%, 96%);
  --body-color: black;
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "SF-Pro-Display", sans-serif;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

table {
  margin: 0 auto;
  /* border: 1px solid rgb(0, 0, 0); */
  color: var(--text-color);
  border: none;
  width: 1000px;
}

td, th {
  /* background: black; */
  width: 50px;
  padding: 0.5rem;
  position: relative;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 2024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.nav {
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__btn {
  justify-self: end;
}
.nav__transcription {
  border: 1px solid rgb(24, 24, 24);
  display: inline-flex;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  padding: 0.3rem 0.4rem;
  color: white;
  background-color: inherit;
  cursor: pointer;
}
.nav__transcription i {
  font-size: 1.8rem;
}
.nav__input {
  padding: 0.8rem;
  outline: none;
  background-color: inherit;
  border: 1px solid rgb(24, 24, 24);
  color: var(--text-color);
  border-radius: 0.3rem;
  width: 100%;
  font-size: 1.5rem;
}
.nav__input[type=text]:focus {
  border: 3px solid #FED56D;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.small {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.large {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}

.range {
  border: 0px solid transparent;
  padding: 0px;
  margin: 0px;
  width: 202px;
  height: 50px;
  cursor: pointer;
  background: -webkit-repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 2px, transparent 50px) no-repeat 50% 50%;
  background: -moz-repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 2px, transparent 50px) no-repeat 50% 50%;
  background: repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 2px, transparent 50px) no-repeat 0% 50%;
  background-size: 210px 10px;
}

.nav__range::before {
  position: absolute;
  content: "";
  width: 202px;
  left: 52px;
  border-top: 2px solid #fff;
  z-index: -1;
}

input[type=range] {
  margin-top: 24px;
  width: 210px;
  margin-left: -4px;
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  box-sizing: border-box;
  height: 0;
  border-radius: 2px;
  background: inherit;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -15px;
  border-radius: 50%;
  background-color: hsl(217, 97%, 53%);
  height: 2rem;
  width: 2rem;
}

i {
  font-size: 1rem;
}

.play {
  display: flex;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 10px;
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 7.5px 0 7.5px 15px;
  margin: 0 auto;
}

.paused {
  display: flex;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 1rem;
  border-color: transparent transparent transparent #ffffff;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 0.938rem;
}

.words {
  padding: 3rem;
  font-size: 1.5rem;
}

tr.active {
  /* background-color: rgba(28, 215, 72); */
  /* color: black; */
  color: white;
  /* border: 1px solid rgba(28, 215, 72); */
}

.focus {
  color: rgba(245, 245, 247, 0.3098039216);
}

.hide {
  display: none;
}

tr:nth-child(2n) {
  background: rgba(138, 43, 226, 0.1882352941);
}

@media screen and (max-width: 420px) {
  body {
    font-size: 0.8rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav .wrapper {
    display: none;
  }
  .nav__input {
    width: 280px;
    font-size: 1rem;
  }
  table {
    width: 340px;
    border-spacing: 0.1rem;
    border-collapse: separate;
  }
  td, th {
    padding: 1rem 0;
    font-size: 0.9rem;
    text-align: center;
  }
  .words {
    padding: inherit;
    font-size: 14px;
  }
}