@media screen and (max-width: 420px) {
    body {
        font-size: .8rem;
    }

    .nav {
        display: flex;
        // grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;

        &__range-wrapper {
            display: none;
        }

        &__input {
            // width: 200px;
            font-size: 1rem;
        }

        &__logo {
            width: 2.7rem;
        }
    }

    .words__table {
        // width: 340px;
        border-spacing: .1rem;
        border-collapse: separate;
    }

    td, th {
        padding: 1rem 0;
        font-size: .9rem;
        text-align: center;
    }

    .words {
        font-size: 14px;
    }
    
    .nav__settings {
        gap: .2rem;
    }

}

/* For large devices */
@media screen and (min-width: 1040px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .words__table {
        width: 1024px;
        border-spacing: .1rem;
        border-collapse: separate;
    }

    .nav__input { 
        width: 400px;
    }
}