header {
    position: fixed;
    background-color: var(--header-color);
    z-index: 10;
    width: 100%;
}

.nav {
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;

    &__logo {
        width: 50px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__range-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    &__small-letter {
        font-size: 1.2rem;
        font-weight: 300;
        color: #fff;
    }
    
    &__large-letter {
        font-size: 1.5rem;
        font-weight: 300;
        color: #fff;
    }
    
    &__sizerange {
        border: 0px solid transparent;
        padding: 0px;
        margin: 0px;
        width: 202px;
        height: 50px;
        cursor: pointer;
        background: -webkit-repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 2px, transparent 50px) no-repeat 50% 50%;
        background: -moz-repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 2px, transparent 50px) no-repeat 50% 50%;
        background: repeating-linear-gradient(90deg, #fff, #fff 2px, transparent 2px, transparent 50px) no-repeat 0% 50%;
        background-size: 210px 10px;
    }
    
    &__range::before {
        position: absolute;
        content: "";
        width: 202px;
        left: 52px;
        border-top: 2px solid #fff;
        z-index: -1;
    }
    
    &__range {
        margin-top: 24px;
        width: 210px;
        margin-left: -4px;
    }
    
    &__range,
    &__range::-webkit-slider-runnable-track,
    &__range::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    
    &__range::-webkit-slider-runnable-track {
        box-sizing: border-box;
        height: 0;
        border-radius: 2px;
        background: inherit;
    }
    
    &__range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        margin-top: -15px;
        border-radius: 50%;
        background-color: hsla(217, 97%, 53%, 1);
        height: 2rem;
        width: 2rem;
    }


    &__btn {
        justify-self: end;
    }

    &__transcription {
        border: 1px solid rgb(24, 24, 24);
        display: inline-flex;
        font-size: 1.25rem;
        border-radius: 0.3rem;
        padding: 0.3rem 0.4rem;
        color: white;
        background-color: inherit;
        cursor: pointer;
        & i {
            font-size: 1.8rem;
        }
    }

    &__input {
        // padding: .8rem;
        outline: none;
        background-color: inherit;
        // border: 1px solid rgb(24, 24, 24);
        border: none;
        color: var(--text-color);
        border-radius: 0.3rem;
        width: 100%;
        font-size: 1.5rem;

        &[type=text]:focus {
            // border: 3px solid #FED56D;
            bottom: none;
        }

        &::placeholder {
            // text-align: center; 
            color: var(--focus-color-table)
        }
    }

    &__settings {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
    }

    &__theme {
        i {
            font-size: 1.5rem;
            cursor: pointer;
            color: var(--text-color);
        }
    }

    &__searchbox {
        width: auto;
        gap: 1rem;
        display: flex;
        align-items: center;
        border: 1px solid #3c3c3c4f;
        padding: .5rem;
        border-radius: 0.2rem;
    }

    &__searchicon {
        display: inline-flex;
        i {
            font-size: 1.5rem;
        }
    }

    i {
        color: var(--text-color);
    }
}

.scroll-header {
    border-bottom: 1px solid #3c3c3c4f;
}