.nav {
    height: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        justify-self: end;
    }

    &__transcription {
        border: 1px solid rgb(24, 24, 24);
        display: inline-flex;
        font-size: 1.25rem;
        border-radius: 0.3rem;
        padding: 0.3rem 0.4rem;
        color: white;
        background-color: inherit;
        cursor: pointer;
        & i {
            font-size: 1.8rem;
        }
    }

    &__input {
        padding: .8rem;
        outline: none;
        background-color: inherit;
        border: 1px solid rgb(24, 24, 24);;
        color: var(--text-color);
        border-radius: 0.3rem;
        width: 100%;
        font-size: 1.5rem;
    }
    
}